<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm Visualizer - Pathfinding</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pathfinding.css') }}">
</head>
<body>
    <div class="container">
        <h1>Pathfinding Visualizer</h1>
        <div>
            <button id="runAStarBtn">Run A* Algorithm</button>
            <button id="runBFSBtn">Run BFS Algorithm</button>
            <button id="runDijkstraBtn">Run Dijkstra Algorithm</button>
            <button id="clearGridBtn">Clear Grid</button>
        </div>
        <div id="grid"></div>
    </div>
    <script src="{{ url_for('static', filename='js/pathfinding.js') }}"></script>
</body>
</html>
